@import "tailwindcss";
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
    @media (prefers-color-scheme: dark) {
        
            body{
            background-color: rgb(15, 25, 40);
        }


    }